name: Test examples

on:
  push:
    branches:
      - 'main'
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'

jobs:
  test-examples:
    strategy:
      matrix:
        example_path:
          - examples/install.R/tidyverse
          - examples/environment.yml/numpy
          - examples/environment.yml/python-base
          - examples/environment.yml/r-base
          - examples/environment.yml/tidyverse
          - examples/requirements.txt/numpy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
      - name: Test example
        run: pixi run repo2wasm ${{ matrix.example_path }} --no-run
