name: Unit test

on:
  push:
    branches:
      - 'main'
    paths:
      - 'src/**'
  pull_request:
    paths:
      - 'src/**'

jobs:
  run-unit-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
      - name: Test example
        run: pixi run test
