name: Unit test

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.1
        with:
          pixi-version: v0.56.0
          cache: true
      - name: Test example
        run: pixi run test
